
body{
  width: 85%;
  padding: 4%;
  margin:auto;%;
  border: 10%;
}


#nav > li{
  text-align: center;
  margin-right: 30px;
  display: inline-block;
  justify-content: left;
  flex-direction: row;
}

#nav > li:hover{
  cursor: pointer;
}



/*introduksjon, oversikt, detaljer og sammenlikning.
men bare nøyaktig ett av dem skal til
enhver tid være synlig. De tre andre skal skjules ved hjelp av CSS
 og å tilskrive klasser til elementene

.navigation, button {

  visibility: hidden;
}*/
