
body{
  width: 85%;
  padding: 4%;
  margin:auto;%;
  border: 10%;
}

.center{
  text-align: center;
}

#nav > li{
  margin-right: 30px;
  display: inline-block;
  justify-content: left;
  flex-direction: row;
  text-decoration: underline
}

#nav > li:hover{
  cursor: pointer;
}

.hide-me{
  display: none;
}

.show-me{
  display: block;
}

.fet-skrift{
  font-weight: bold;
}


th, td{
  border: 1px solid black;
  padding: 8px;
}

table{
  border-collapse: collapse;
}

@media only screen and (min-width:650px){

  table{
    border-collapse: collapse;
    border-radius: 5px;
  }

  tr{
    display: block;
    float:left;
  }

  th, td{
    display: block;
    border: 1px solid black;
    padding: 8px;
  }
}
