
body{
  width: 85%;
  padding: 4%;
  margin:auto;%;
  border: 10%;
}

.center{
  text-align: center;
}

#nav > li{
  margin-right: 30px;
  display: inline-block;
  justify-content: left;
  flex-direction: row;
  text-decoration: underline
}

#nav > li:hover{
  cursor: pointer;
}

.hide-me{
  display: none;
}

.show-me{
  display: block;
}

th, td{
  border: 1px solid black;
  padding: 8px;
}

@media only screen and (min-width: 580px){

  th, td{
    display: flex;
  }

  th{
    flex-flow: wrap;
  }

}


/* td{
  flex-direction: column;
} */

table{
  border-collapse: collapse;
  width: 100%;
}
